/**
 * Button
 */

.button {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: #ffffff;
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    font-family: $font-family-museo-lite;

    .fa {
        margin-right: 5px;
    }

    &:hover {
        border: 1px solid #cccccc;
    }
}

.button.active {
    border: 1px solid #000000;
    background: #000000;
    color: #ffffff;
}
