/**
 * Button
 */

// Light button

.button {
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  padding: 6px 12px;
  color: #fff;
  background-color: $color-accent;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all $default-transition-duration;

  &:hover {
    color: #fff;
    background-color: lighten($color-accent, 15%);
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: -4px;
    fill: #fff;
    transition: transform 0.25s;
  }

  span {
    color: #ffffff;
    font-size: $font-family-base;
    font-family: $font-family-museo-regular;
  }
}

/* Button with an outline only */
.button-outline-only {
  border: 1px solid $color-accent-light;
  background-color: $color-ebony-light;

  &:hover {
    border-color: $color-accent-light;
    background-color: $color-accent-light;
  }
}

// Medium button
.button-medium {
  padding: 9px 16px;

  span {
    font-size: $font-family-base;
  }
}

// Large button
.button-large {
  padding: 16px 24px;

  span {
    font-size: rem(19px);
  }
}

// Dark button

.button-dark {
  @extend .button;
  background-color: $color-ebony;
  border: 1px solid $color-ebony;
  color: #fff;

  &:hover {
    border-color: $color-accent-light;
    background-color: $color-ebony-light;
  }

  .icon {
    margin-top: 5px;
    fill: #fff;
  }

  span {
    color: #fff;
  }
}

.button-dark.active {
  background: #fff;

  .icon {
    fill: #000;
  }

  span {
    color: #000;
  }
}

.button-vertical {
  span {
    display: block;
    margin-top: 5px;
    font-weight: 200;
    line-height: 1.4em;

    @include media("<medium") {
      font-size: rem(12px);
    }

    @include media(">=medium") {
      font-size: rem(14px);
    }
  }
}
