/**
 * Button
 */

// Light button

.button {
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  padding: 6px 12px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $color-accent;
  transition: all $default-transition-duration;

  &:hover {
    background-color: lighten($color-accent, 15%);
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: -4px;
    fill: #fff;
    transition: transform 0.25s;
  }

  span {
    color: #ffffff;
    font-size: 1rem;
    font-family: $font-family-museo-regular;
  }
}

// Medium button
.button-medium {
  padding: 9px 16px;

  span {
    font-size: 1rem;
  }
}

// Large button
.button-large {
  padding: 12px 24px;

  span {
    font-size: 1.2rem;
  }
}

// Dark button

.button-dark {
  @extend .button;
  background-color: $color-ebony;
  border: 1px solid $color-ebony;
  color: #fff;

  &:hover {
    border-color: lighten($color-ebony, 25%);
    background-color: lighten($color-ebony, 15%);
  }

  .icon {
    margin-top: 5px;
    fill: #fff;
  }

  span {
    color: #fff;
  }
}

.button-dark.active {
  background: #fff;

  .icon {
    fill: #000;
  }

  span {
    color: #000;
  }
}

.button-vertical {
  span {
    display: block;
    margin-top: 5px;
    font-weight: 200;
    line-height: 1.4em;

    @include media("<medium") {
      font-size: 12px;
    }

    @include media(">=medium") {
      font-size: 14px;
    }
  }
}
