/**
 * Grid
 */

// Two column layout with sidebar
.page-template-page-with-sidebar {

    .main {
        @include md {
             @include span(9);
        }
    }

    .sidebar {
        margin-top: 20px;
        border-top: 1px solid $color-border;
        text-align: center;

        @include md {
            @include span(3 last);
            margin-top: 0;
            padding-left: 20px;
            border-top: 0;
            text-align: left;
        }
    }
}
