/**
 * Global styles, typography and layout classes
 */

body {
    margin: 0;
}

html {
    background:  $color-body;
    color:       $color-text;
    font-weight: normal;
    font-size:   $font-size-base;
    font-family: $font-family-base;
    line-height: $line-height-base;
    box-sizing:  border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1, .f1 { font-size: $f1; }
h2, .f2 { font-size: $f2; }
h3, .f3 { font-size: $f3; }
h4, .f4 { font-size: $f4; }
h5, .f5 { font-size: $f5; }
h6, .f6 { font-size: $f6; }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    color: $color-heading;
    font-family: $font-family-headings;
    line-height: $line-height-headings;
    font-weight: 500;
}

a {
    color: $color-link;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $color-link-hover;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p, li {
    @include breakpoint($md) {
        font-size: 1.125rem;
        line-height: 1.6875em;
    }
}

ul {
    padding-left: 20px;
}

li {
    list-style: circle;
    margin-top: 5px;
}

//
// Typography
//

.underline {
    font-weight: bold;
    border-bottom: 1px solid #666666;

    &:hover {
        color: $color-accent;
        border-color: $color-accent;
    }
}

.site-title {
    font-size: 1.625rem;
    line-height: 1.3em;

    @include breakpoint($md) {
        font-size: 2.75rem;
        line-height: 1.35em;
    }
}

.section-subtitle, .section-body {
    max-width: 540px;
}

.section-title {
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid $color-border;
    font-size: 1.625rem;
    line-height: 1.2em;

    @include breakpoint($md) {
        font-size: 2.2rem;
        line-height: 1.1em;
    }
}

.section-subtitle {
    display: block;
    margin-top: 15px;
    font-size: $f5;
    font-family: $font-family-museo-lite;
    line-height: 1.65em;
}

.section-body {
    max-width: 820px;
    margin: 0 auto;
    text-align: left;

    a {
        @extend .underline;
    }
}

//
// Layout
//

.container {
    @include container;
    padding-right: 20px;
    padding-left: 20px;

    @include breakpoint($xl) {
        padding: 0;
    }
}
