*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $color-body;
  color: $color-text;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  line-height: $line-height-heading;
  color: $color-heading;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $color-link;
  text-decoration: $link-decoration;

  &:hover {
    color: $color-link-hover;
  }
}

hr {
  height: 1px;
  margin-top: 1.35rem;
  margin-bottom: 1.35rem;
  background-color: $color-border;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

// Typography

.site-title,
.page-title,
.section-title,
.section-subtitle {
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.site-title,
.page-title {
  font-family: $font-family-museo-bold;

  @include media("<medium") {
    margin-top: 3rem;
    font-size: rem(48px);
  }

  @include media(">=medium", "<large") {
    margin-top: 3rem;
    font-size: rem(56px);
  }

  @include media(">=large") {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: rem(56px);
  }

  br {
    display: none;

    @include media(">=600px", "<=1050px") {
      display: block;
    }
  }
}

.section-title {
  font-family: $font-family-museo-regular;
  margin-bottom: 0.25rem;

  @include media("<medium") {
    font-size: rem(40px);
  }

  @include media(">=medium") {
    font-size: rem(46px);
  }
}

.section-subtitle {
  margin-top: 0;
  font-family: $font-family-base;
  font-size: rem(26px);
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

.page-header {
  margin-bottom: 1rem;
}

.section-body {
  max-width: 760px;
}

.section-body,
.page-content {
  margin: 0 auto;
  text-align: left;

  @include media("<medium") {
    font-size: rem(20px);
  }

  @include media(">=medium") {
    font-size: rem(22px);
  }
}

.item-title {
  font-family: $font-family-museo-lite;
  font-size: rem(28px);
  color: #ffffff;
}

.item-description {
  font-size: rem(20px);
  font-weight: 100;
  color: #cccccc;
}

.underline {
  border-bottom: 1px solid #666;

  &:hover {
    color: $color-accent;
    border-color: $color-accent;
  }
}

.asterisk {
  color: #fb503b;
}

// Layout

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
