/**
 * Utilities
 */

// Fontface
@mixin fontface($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("#{$src}.woff2") format("woff2"),
      url("#{$src}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

// Break element out of a container
@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Convert px to rem
@function rem($size) {
  @return $size / 16px * 1rem;
}
