/**
 * Home page styles
 */

.page-home {

    .site-title, .section-title {
        text-align: center;
    }

    .projects .section-title {
        margin-bottom: 0;
        padding-bottom: 25px;

        @include breakpoint($md) {
            margin-top: 40px;
        }

        span {
            font-size: 1.2rem;
            font-family: $font-family-museo-lite;

            @include breakpoint($md) {
                font-size: 1.75rem;
            }
        }
    }

    .projects {
        text-align: center;
    }

    .project-grid {
        @include clearfix;
        margin: 0 auto;
        max-width: 1200px;
    }

    .project {
        margin-top: 65px;
        text-align: center;

        @include breakpoint($md) {
            @include span(4);
            margin-top: 65px;
            margin-bottom: 25px;

            &:last-child {
                @include last;
            }
        }
    }

    .project-title {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .project-short-description {
        margin-top: 10px;
        color: #666666;
        font-weight: 300;
        font-family: $font-family-helvetica;
    }

    .project-button {
        margin-top: 15px;

        .icon {
            transform: rotateZ(0deg);
        }

        &:hover {

            .icon {
                transform: rotate(-90deg);
            }
        }
    }

    .section-content {
        text-align: center;

        .section-title {
            margin-top: 60px;
        }
    }
}
