/**
 * Home page styles
 */

.page-home {

    .site-title, .section-title {
        text-align: center;
    }

    .site-title {
        font-size: $f3;
        line-height: 1.4em;

        @include md {
            font-size: 2.9rem;
            font-weight: 600;
            line-height: 1.375em;
        }
    }

    .projects .section-title {
        margin-top: 35px;
        margin-bottom: 40px;

        @include md {
            margin-top: 50px;
            margin-bottom: 40px;
        }
    }

    .projects {
        text-align: center;
    }

    .project-grid {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-around;

        @include md {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    .project {
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 100%;

        @include sm {
            flex-basis: 50%;
        }

        @include md {
            flex-basis: 30%;
        }
    }

    .project-title {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .project-short-description {
        margin-top: 10px;
        color: #666666;
        font-weight: 300;
        font-family: $font-family-helvetica;
    }

    .project-button {
        margin-top: 15px;

        .icon {
            transform: rotateZ(-90deg);
        }

        &:hover {

            .icon {
                transform: rotate(0deg);
            }
        }
    }

    .section-content {
        text-align: center;

        .section-title {
            margin-top: 60px;
        }
    }
}
