/**
 * WordPress Maintenance Plan
 */

.page-wordpress-maintenance .page-title {
  @include media(">=large") {
    margin-bottom: 1.5rem;
  }
}

.page-wordpress-maintenance .page-content {
  max-width: inherit;
}

.maintenance-description {
  max-width: 900px;
  margin: 0 auto 3rem auto;
  text-align: left;

  @include media(">=medium") {
    text-align: center;
  }
}

.maintenance-services {
  max-width: 525px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  border-radius: $default-border-radius;
  background-color: $color-box;
  box-shadow: $default-box-shadow;

  @include media(">=medium") {
    padding: 2rem 3rem;
  }
}

.maintenance-services-title {
  margin-top: 0;
  color: #fff;
}

.maintenance-services-list {
  list-style: none;

  li {
    margin-bottom: 0.25rem;
    line-height: 2rem;

    &:before {
      content: "\2022";
      display: inline-block;
      width: 1.75rem;
      margin-left: -1.75rem;
      font-size: 2.5rem;
      font-weight: bold;
      vertical-align: -0.4rem;
      color: #7C43BA;
    }
  }
}

.maintenance-plans {
  max-width: 1300px;
  margin: 3rem auto 0 auto;
}

.maintenance-plans > div {
  @media (min-width: 1130px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2.5rem;
    grid-template-areas:
    "heading heading heading"
    "subheading subheading subheading"
    "plan plan plan"
    "notes notes notes";
  }
}

.maintenance-plans-heading {
  grid-area: heading;
  margin-top: 0;
}

.maintenance-plans-subheading {
  grid-area: subheading;
  margin-bottom: 2.5rem;
}

.maintenance-plan {
    max-width: 480px;
    margin: 2rem auto 0 auto;
    padding: 0.5rem 2rem;
    background-color: #e7e7e7;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;

    @media (min-width: 1130px) {
      width: 100%;
      max-width: inherit;
      margin-top: 0;
      background-color: #e7e7e7;
      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow;
    }
}

.maintenance-plan-heading .plus,
.maintenance-plan-heading .pro {
  margin-left: 3px;
  color: #fff;
  padding: 4px 7px;
  border-radius: 5px;
  font-size: 20px;
  vertical-align: 1px;
}

.maintenance-plan-heading .plus {
  background-color: #DB50A1;
}

.maintenance-plan-heading .pro {
  background-color: #BA2E84;
}

.maintenance-plan-subheading {
  margin-top: 0.75rem;
  font-size: 18px;
}

.maintenance-plan-notes {
  grid-area: notes;
  max-width: 525px;
  margin: 3rem auto 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 17px;
}
