/**
 * WordPress Maintenance Plan
 */

.page-wordpress-maintenance .page-content {
  max-width: inherit;
  text-align: center;
}

/* Header */

.page-wordpress-maintenance .page-title {
  @include media(">=large") {
    margin-bottom: 1.5rem;
  }
}

.maintenance-description {
  @extend .section-subtitle;
  max-width: 860px;
  margin: 0 auto 3rem auto;
}

/* Services */

.maintenance-services {
  display: inline-block;
  margin: 0 auto;
  padding: 0.25rem 1.5rem 1rem 1.5rem;
  border-radius: $default-border-radius;
  background-color: $color-box;
  box-shadow: $default-box-shadow;
  text-align: left;

  @include media(">=medium") {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 4rem 1.75rem 4rem;
  }
}

.maintenance-services-heading {
  @extend .section-title;
  font-family: $font-family-museo-litest;
  color: #fff;
}

.maintenance-services-list {
  list-style: none;
  margin-top: 1.5rem;
  padding-left: 1.5rem;

  li {
    margin-bottom: 0.5rem;
    line-height: 2rem;
    font-weight: 300;

    &:before {
      content: "\2022";
      display: inline-block;
      width: 1.75rem;
      margin-left: -1.75rem;
      font-size: rem(40px);
      font-weight: bold;
      vertical-align: -0.4rem;
      color: lighten($color-accent-light, 5%);
    }
  }

  @include media(">=medium") {
    font-size: rem(20px);
  }
}

/* Plans */

.maintenance-plans {
  max-width: 1300px;
  margin: 3rem auto 0 auto;
}

.maintenance-plans > div {
  @include media(">=large") {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2.5rem;
    grid-template-areas:
      "heading heading heading"
      "subheading subheading subheading"
      "plan plan plan"
      "notes notes notes";
  }
}

.maintenance-plans-heading {
  @extend .section-title;
  grid-area: heading;
  margin-top: 0;
}

.maintenance-plans-subheading {
  @extend .section-subtitle;
  grid-area: subheading;
  margin-bottom: 2.5rem;
}

.maintenance-plan {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  max-width: 480px;
  margin: 2rem auto 0 auto;
  padding-top: 0;
  background-color: $color-ebony;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  overflow: hidden;

  @include media(">=large") {
    width: 100%;
    margin-top: 0;
    background-color: #e7e7e7;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
  }
}

.maintenance-plan-top {
  padding-top: 1rem;
  padding-bottom: 0.35rem;
  background-color: #fff;
}

.maintenance-plan-middle {
  height: 100%;
  padding: 1.5rem 1.5rem 1.75rem 1rem;
  background: $color-ebony;
}

.maintenance-plan-bottom {
  padding-bottom: 2rem;
  background: $color-ebony;
}

.maintenance-plan-name {
  margin: 0;
  font-family: $font-family-museo-lite;
  font-size: rem(20px);
  text-transform: uppercase;
  color: #000;
}

.maintenance-plan-price {
  margin-bottom: 0;
  font-weight: 300;
  font-size: rem(26px);
  color: #444;

  .price {
    margin-bottom: 0;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    vertical-align: -2px;
    font-family: $font-family-museo-regular;
    font-size: rem(48px);
    color: #000;
  }
}

.maintenance-plan-services {
  margin: 0;
  list-style: none;
  text-align: left;

  li {
    margin-bottom: 1rem;
    padding-left: 0.25rem;
    font-size: rem(18px);
    font-weight: 300;
    color: #ccc;

    &:before {
      content: "";
      display: inline-block;
      background-image: url("../../dist/images/check-circle.svg");
      background-repeat: no-repeat;
      width: 25px;
      height: 20px;
      margin-left: -30px;
      vertical-align: -4px;
    }
  }
}

.maintenance-plan-button {
  font-size: rem(16px);
  letter-spacing: 0.5px;
}

/* Specific Plans */

.maintenance-plan-pro,
.maintenance-plan-basic {
  .button {
    @extend .button-outline-only;
  }
}

.maintenance-plan-plus {
  border: 2px solid $color-accent-light;
}

/* Footer */

.maintenance-plan-notes {
  grid-area: notes;
  max-width: 600px;
  margin: 3rem auto 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: rem(17px);
}
