/**
 * Project
 */

.project-heading {
  font-family: $font-family-museo-lite;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  @include media("<large") {
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #999;
    font-size: $h4;
  }

  @include media(">=large") {
    margin-top: 0;
    font-size: $h3;
  }
}

// Info

.project-info {
  display: flex;
  text-align: center;

  @include media("<large") {
    max-width: 768px;
    margin-bottom: 3rem;
    flex-direction: column;
  }

  @include media(">=large") {
    max-width: 1100px;
    margin-top: 4rem;
    margin-bottom: 5rem;
    flex-direction: row;
    align-items: flex-start;
  }
}

.project-info-column-name {
  @include media(">=large") {
    border-right: 1px solid #ccc;
    padding-right: 3rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-basis: 35%;

    .project-title {
      order: 1;
    }

    .project-short-description {
      order: 2;
    }

    .project-logo {
      margin-top: 1rem;
      padding-bottom: 1rem;
      order: 3;
    }
  }
}

.project-info-column-summary {
  @include media("<large") {
    max-width: 740px;
    margin: 0 auto;
  }

  @include media(">=large") {
    text-align: left;
    padding-left: 3rem;
    flex-basis: 60%;
  }
}

.project-logo {
  margin-top: 3rem;
}

.project-short-description {
  @extend .item-description;
  margin-top: 0;
  color: #333;
  font-weight: 300;
}

.project-description {
  font-size: $h6;

  @include media("<large") {
    margin-top: 0.5rem;
  }

  @include media(">=large") {
    margin-top: 0.25rem;
  }

  p {
    text-align: left;
  }
}

.project-more-info {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: opacity 0.6s;

  h4 {
    @include media("<large") {
      text-align: left;
    }
  }

  ul {
    margin-top: 1rem;
    margin-left: -0.65rem;
    list-style: none;
    text-align: left;
  }

  li {
    line-height: 1.85rem;

    &:before {
      content: "\2022";
      display: inline-block;
      width: 1.75rem;
      margin-left: -1.75rem;
      font-size: rem(32px);
      font-weight: bold;
      vertical-align: -0.3rem;
      color: $color-accent;
    }
  }
}

.project-more-info.visible {
  opacity: 1;
  height: auto;
}

.project-more-button {
  margin-top: 1rem;
  margin-left: 0;

  @include media("<medium") {
    margin-bottom: 1rem;
  }

  @include media(">=medium") {
    margin-bottom: 0;
  }

  .icon {
    transform: rotate(0deg);
  }
}

.project-more-button.active {
  .icon {
    transform: rotate(90deg);
  }
}

.project-visit-button {
  .icon {
    vertical-align: -4px;
  }
}

.project-technologies {
  display: none;

  ul {
    margin-left: -1rem;
    column-gap: 3rem;

    @include media("<small") {
      column-count: 2;
    }

    @include media(">=small") {
      column-count: 3;
    }
  }

  li {
    margin-left: 1em;
  }
}

// Details

.project-details-title {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

.project-details-menu {
  position: static;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: $color-ebony;
  text-align: center;
  transition: all 0.5s;

  .button-vertical {
    width: 90px;
  }

  .icon {
    margin-right: 0;
    width: 22px;
    height: 22px;
    color: #fff;
  }
}

.project-details-menu.fixed {
  position: fixed;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  z-index: 1000;

  .button-vertical {
    width: auto;
  }

  span {
    display: none;
  }
}

.project-details {
  margin-top: -2rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  background: $color-ebony;
  text-align: center;
}

// Screenshots

.desktop-screenshots,
.mobile-screenshots,
.code-samples {
  display: none;

  &.active {
    display: block;
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.mobile-screenshots {
  margin: 0 auto;
  text-align: center;
}

.desktop-screenshot,
.mobile-screenshot,
.code-sample {
  padding-top: 35px;

  h5 {
    display: none;
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-family: $font-family-museo-lite;
  }

  img {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
  }
}

// Decresase padding on mobile viewports for this project only
.project-ymca-fresh-page {
  @include media("<medium") {
    .desktop-screenshot img {
      padding: 10px !important;
    }
  }
}

.mobile-screenshot {
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }

  img {
    padding: 0;
  }

  @include media(">=medium") {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    vertical-align: top;
  }
}

.code-samples {
  .gist,
  .gist-file {
    border-radius: 5px !important;
  }
}
