/**
 * Single project styles
 */

.single-project {

    .project-heading {
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: $f4;
        font-family: $font-family-museo-lite;

        @include breakpoint($md) {
            margin-top: 0;
            font-size: $f3;
        }
    }

    // Project info

    .project-info {
        margin-top: 25px;
        margin-bottom: 50px;
        border-top: 1px solid $color-border;
        text-align: center;

        @include breakpoint($md) {
            border-top: 0;
        }
    }

    .project-logo {
        margin-top: 50px;
    }

    .project-title {
        margin-top: 15px;
    }

    .project-short-description {
        margin-top: 0;
        color: #666666;
        font-weight: 200;
        font-size: $f5;
        font-family: $font-family-helvetica;
    }

    .project-description {
        margin-top: 35px;
        font-size: $f6;

        p {
            text-align: left;
        }
    }

    .project-more-info {
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition: opacity .6s;

        ul {
            padding-left: 20px;
            list-style: circle;
            text-align: left;
        }
    }

    .project-more-info.visible {
        opacity: 1;
        height: auto;
    }

    .project-button {
        margin-top: 10px;
        margin-left: 0;

        .icon {
            transform: rotate(0deg);
        }
    }

    .project-button.active {

        .icon {
            transform: rotate(90deg);
        }
    }

    .project-technologies {

        ul {
            margin-left: -15px;
            column-count: 2;
            column-gap: 50px;
        }

        li {
            margin-left: 1em;
        }
    }

    // Project info columns

    @include breakpoint($md) {

        .project-info {
            margin-top: 45px;
            margin-bottom: 55px;
        }

        .project-info-column:first-child {
            @include span(5);
            @include pull(15px);
            display: flex;
            flex-flow: column;
            padding-right: 30px;
            border-right: 1px solid $color-border;
            text-align: right;

            .project-title {
                order: 1;
            }

            .project-short-description {
                order: 2;
            }

            .project-logo {
                order: 3;
                margin-top: 20px;
                padding-bottom: 15px;
            }
        }

        .project-info-column:last-child {
            @include span(7);
            @include suffix(10%);
            @include last;
            text-align: left;

            .project-description {
                margin-top: 0;
            }
        }
    }

    // Project details

    .project-details-title {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .project-details-menu {
        @include clearfix;
        position: static;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #000000;
        text-align: center;
        border-bottom: 1px solid lighten(#000000, 15%);

        .icon {
            width: 22px;
            height: 22px;
            color: #ffffff;
        }
    }

    .project-details-menu.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .project-details {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        background: lighten(#000000, 7%);
        text-align: center;
    }

    // Project details content

    .desktop-screenshots, .mobile-screenshots, .code-samples {
        display: none;

        &.active {
            display: block;
            animation: fadeIn 1s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    .mobile-screenshots {
        margin: 0 auto;
        text-align: center;
    }

    .desktop-screenshot, .mobile-screenshot, .code-sample {
        padding-top: 35px;

        h5 {
            margin-top: 0;
            margin-bottom: 15px;
            color: #ffffff;
            font-family: $font-family-museo-lite;
        }

        img {
            padding: 5px;
            background: #ffffff;
            border-radius: 5px;

            @include breakpoint($md) {
                padding: 10px 30px 30px 30px;
            }
        }
    }

    .desktop-screenshot {

        @include breakpoint($sm) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .mobile-screenshot {
        margin-bottom: 20px;

        @include breakpoint($md) {
            display: inline-block;
            margin-right: 15px;
            margin-left: 15px;
            vertical-align: top;
        }

        &:last-child {
            margin-right: 0;
        }

        img {
            padding-right: 0;
            padding-left: 0;
            width: 320px;
        }
    }

    .code-samples {

        .gist, .gist-file {
            border-radius: 5px !important;
        }
    }
}
