/**
 * Footer
 */

.site-footer {
    text-align: center;

    .container {
        position: relative;
        z-index: 250;
    }
}

.footer-background {
    position: absolute;
    z-index: 200;

    .footer-gradient {
        position: absolute;
        z-index: 220;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(255,255,255,0) 100%);
    }

    .footer-image {
        position: absolute;
        z-index: 210;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}

.footer-background, .footer-gradient, .footer-image {
    width: 100%;
    height: 900px;
}

.footer-content {

    .section-title {
        display: inline-block;
        margin-top: 75px;
        margin-bottom: 0;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        border-top: 1px solid $color-border;
    }

    h5 {
        margin-top: 24px;
    }
}

.built-with-blujay {
    margin-top: 100px;

    a {
        display: block;
        border-bottom: 0;
    }

    p {
        margin-top: 5px;
        font-family: $font-family-headings;
        font-weight: bold;
    }
}
