/**
 * Footer
 */

.site-footer {
    margin-top: 85px;
    text-align: center;

    .container {
        position: relative;
        z-index: 250;
    }
}

.footer-background {
    position: absolute;
    z-index: 200;

    .footer-gradient {
        position: absolute;
        z-index: 220;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(255,255,255,0) 100%);
    }

    .footer-image {
        position: absolute;
        z-index: 210;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}

.footer-background, .footer-gradient, .footer-image {
    width: 100%;
    height: 775px;
}

.footer-content {

    .section-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 25px;
        padding-bottom: 0;
        border-top: 1px solid $color-border;
        border-bottom: 0;
    }

    .button {
        display: table;
        margin: 25px auto 0 auto;

        .icon {
            width: 22px;
            height: 22px;
        }

        span {
            margin-left: 7px;
        }
    }
}

.single-project .footer-content .section-title {
    padding-top: 0;
    border-top: 0;
}

.built-with-blujay {
    margin-top: 100px;

    a {
        display: block;
        border-bottom: 0;
    }

    p {
        margin-top: 5px;
        font-size: 14px;
    }
}
