/**
 * Footer
 */

.site-footer {
  position: relative;
  z-index: 5;
  text-align: center;

  .container {
    position: relative;
    z-index: 20;
  }
}

.footer-background {
  position: absolute;
  z-index: 15;
}

.page-home .footer-background {
  @include media("<medium") {
    margin-top: 50px;
  }

  @include media(">=wide") {
    margin-top: -200px;
  }
}

.footer-background,
.footer-image {
  width: 100%;

  @include media("<medium") {
    height: 550px;
  }

  @include media(">=medium", "<wide") {
    height: 750px;
  }

  @include media(">=wide") {
    height: 950px;
  }
}

.single-project .footer-background,
.single-project .footer-image,
.page-wordpress-maintenance .footer-background,
.page-wordpress-maintenance .footer-image {
  @include media("<medium") {
    padding-top: 2rem;
    height: 550px;
  }

  @include media(">=medium") {
    height: 650px;
  }
}

.footer-gradient {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 1) 0,
    rgba(242, 242, 242, 0) 50%
  );
}

.footer-image {
  position: absolute;
  left: 0;
  object-fit: cover;
  object-position: 100% 0;
  z-index: 5;
}

.footer-cta {
  margin-top: 5rem;
  font-size: rem(36px);
}

.footer-button {
  margin: 1.25rem auto 0 auto;
}
